<!DOCTYPE html>
<html>
<head>
  <title>Activate Account</title>
</head>
<body>
<h1>Node-App-Authentication</h1>
<p>Hi <%= username %>,</p>

<p>Welcome to Node-App-Authentication. Click on the link below to activate your account:</p>

<a href="http://localhost:3000/auth/activate-account?token=<%= token %>&email=<%= email %>">Activate</a>
</body>
</html>